@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: monospace;
}

.dark {
  background: #000;
  color: #eee;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -2rem; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 2rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div {
  margin-bottom: 2rem;
}
